#pm-modal {
    display: none;
    z-index: 9999;
    background-color: rgba(0,0,0,0.4);
}

#back_medium:hover, #next_medium:hover {
    background-color: rgba(0,0,0,0.1);
}

#back_medium, #next_medium {
    transition: 0.1s;
}

#close-pm-modal:hover {
    background-color: rgba(0,0,0,0.2);
    color: white;
}

#close-pm-modal {
    transition: 0.1s;

}


.hover-pointer:hover {
    cursor: pointer;
}


// #edit-selected {
//     position: sticky;
//     top: 10px;
//     z-index: 9999;
// }