{% extends 'base.html' %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Review 區間資料</h1>
  </div>
  <div class="shadow-sm bg-light p-3 rounded-2 d-flex justify-content-start">
    <div>
      <div class=" mb-3">
        <label for="perch_mount_name" class="form-label">棲架名稱</label>
        <input id="perch_mount_name" type="text" class="form-control" list="perch_mount_datalist">
        <datalist id="perch_mount_datalist">
          {% for pm_name in perch_mount_names %}
          <option value="{{ pm_name }}">
            {% endfor %}
        </datalist>
      </div>
      <div class="mb-3">
        <label for="check_date" class="form-label">檢查日期</label>
        <input id="check_date" type="date" class="form-control">
      </div>
      <button id="review_button" class="btn btn-primary">辨認物種</button>
      <button id="empty_check_button" class="btn btn-primary">檢查空拍</button>
    </div>

    <!-- <form method="POST" action="">
      <div class=" mb-3">
        {{ section_select_form.perch_mount_name.label(class="form-label") }}
        {{ section_select_form.perch_mount_name(class="form-control", list="perch-mount-datalist") }}
        <datalist id="perch-mount-datalist">
          {% for pm_name in perch_mount_names %}
          <option value="{{ pm_name }}">
            {% endfor %}
        </datalist>
      </div>
      <div class="mb-3">
        {{ section_select_form.check_date.label(class="form-label") }}
        {{ section_select_form.check_date(class="form-control") }}
      </div>
      {{ section_select_form.review_button(class="btn btn-primary") }}
    </form> -->
  </div>

</main>
<script src="{{ url_for('static', filename='js/index.js')}}"></script>


{% endblock %}